@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

:root {
    --night: black;
    --light-night: grey;
    --day: white;
    --light-day: whitesmoke;
    --decor: red;

    --header-height: 8rem;
}

html {
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--day);
}

::-webkit-scrollbar-thumb {
    background-color: var(--decor);
}

body {
    width: 100%;
    background-color: var(--day);
}

#root {
    width: 100%;
}

.swiper-pagination-bullet {
    border-radius: 0 !important;
    width: 0.75rem !important;
    height: 0.75rem !important;
    background-color: var(--night) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--decor) !important;
}

@media(min-width: 1024px) {
    :root {
      --header-height: 6rem;
    }
    
    html {
        font-size: 1.125rem;
    }
}

@media(min-width: 1366px) {
    html {
        font-size: 1.25rem;
    }
}

@media(min-width: 1920px) {
    html {
        font-size: 1.5rem;
    }
}